<mat-toolbar class="main-toolbar" color="primary">
  <div class="content">
    <span>liLCPanda</span>
          <input type="text" matInput class="search-area">
    <button mat-icon-button color="primary" aria-label="Load more posts" class="search-button">
      <mat-icon>search</mat-icon></button>

    <button mat-icon-button *ngIf="0" color="warn" aria-label="Load more posts" class="notifications-button">
      <mat-icon>notifications_active</mat-icon></button>

    <button mat-icon-button color="secondary" aria-label="Load more posts" class="notifications-button">
      <mat-icon>notifications</mat-icon></button>
  </div>
</mat-toolbar>
