<mat-toolbar>
  <mat-toolbar-row>
    <span>Admin</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-nav-list class="list-horizontal">
      <a mat-list-item routerLink="/ads" routerLinkActive="active">Ads</a>
      <a mat-list-item routerLink="/filtered" routerLinkActive="active">Filtered</a>
      <a mat-list-item routerLink="/unhealthy" routerLinkActive="active">Unhealthy</a>
      <a mat-list-item routerLink="/activations" routerLinkActive="active">Activations</a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
